<app-horloge></app-horloge>
<app-girouette-top [indice]="ligne.indice"
                   [destination]="ligne.destination"></app-girouette-top>

<app-station *ngIf="getCurrentDisplay() === 'station'"
             [station]="getStation()"
             [showCorrespondances]="true"></app-station>
<app-minuterie *ngIf="getCurrentDisplay() === 'minuterie'"
               [horaireDepart]="ligne.horaireDepart"></app-minuterie>
<app-plan *ngIf="getCurrentDisplay() === 'plan'"
          [stations]="getNextStations()"
          [couleur]="ligne.couleur"></app-plan>
<app-terminus *ngIf="getCurrentDisplay() === 'terminus'"></app-terminus>

<app-bandeau-info [messages]="messagesInfo"></app-bandeau-info>