.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 160px);
    padding-top: 80px;
}

#station {
    background: #114592;
    height: 80px;
    display: table;
}

#station div {
    vertical-align: middle;
    font-family: Achemine;
    font-size: 85px;
    color: white;
    font-weight: bold;
    padding: 0 16px;
    white-space: pre-line;
}

#correspondances {
    margin-top: 16px;
}

#correspondances img {
    height: 65px;
    margin: 3px;
}