<div class="center-screen">
    <div id="station">
        <div>
            {{ calculerAffichage(station.nom) }}
        </div>
    </div>
    <div id="correspondances" *ngIf="showCorrespondances">
        <div *ngFor="let correspondance of station.correspondances">
            <img *ngFor="let indice of trierIndices(correspondance)"
                  alt="{{ indice }}"
                  src="assets/indices/{{ indice }}.svg">
        </div>
    </div>
</div>