<div id="information" *ngIf="messages.length > 0">
    <div class="container">
        <div class="pictogramme">
            <img alt="Info Trafic" src="assets/perturbations/info-trafic-white.svg">
        </div>
        <div class="message marquee">
            <span #currentMessageElement 
                  [ngStyle]="currentMessage.style"
                  class="scroll">
                {{ currentMessage.message }}
            </span>
        </div>
    </div>
</div>
