
#information {
    position:absolute;
    left: 10px;
    bottom:0px;
    border:5px solid #b10058;
    border-bottom:0;
    border-radius: 5px 5px 0 0;
    height:60px;
    display:table;
    width: calc(100% - 30px);
}

.container {
    display: table-row;
    background: linear-gradient(0.25turn, #f15a24, #f7741e);
}

.pictogramme {
    display: table-cell;
    vertical-align: middle;
}

.pictogramme img {
    height: 54px;
    margin: 8px;
}

.message {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.message span {
    font-family:Achemine;
    font-size: 40px;
    padding: 0 8px;
}

.marquee {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: relative;
}

.marquee .scroll {
    position: absolute;
    white-space: nowrap;
    min-width: 100%;
    width: auto;
    height: 100%;
    line-height: 0px;
    text-align: center;
    transform: translateX(100%);
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}