#horloge {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 5px solid #b10058;
    border-radius: 5px;
    height: 70px;
    display: table;
}

#horloge > div {
    display: table-row;
}

#horloge .container {
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}

#horloge .container span {
    font-family: Achemine;
    font-size: 60px;
    padding: 0 8px;
}
