div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 160px);
    padding-top: 80px;
    font-family: Achemine;
    font-size: 85px;
    font-weight: bold;
}

.minutes {
    display: inline-block;
    border-radius: 20px;
    background-color: #b10058;
    color: white;
    padding: 5px 20px;
    margin: 0 10px;
}