<div *ngFor="let tempsAttente of [getAttente()]">
    <span *ngIf="tempsAttente > 0">
        Départ dans <span class="minutes">{{ tempsAttente }}</span> minute{{ tempsAttente > 1 ? 's' : '' }}
    </span>
    <span *ngIf="tempsAttente <= 0">
        Départ imminent
    </span>
</div>
