svg {
    height: calc(100% - 68px);
    width: 100%;
    margin-top: 65px;
}

/* Animation pour la station courante */
@keyframes clignoter {
    0%   { opacity: 1; }
    13%  { opacity: 1; }
    14%  { opacity: 0; }
    27%  { opacity: 0; }
    28%  { opacity: 1; }
    41%  { opacity: 1; }
    42%  { opacity: 0; }
    55%  { opacity: 0; }
    56%  { opacity: 1; }
    69%  { opacity: 1; }
    70%  { opacity: 0; }
    83%  { opacity: 0; }
    84%  { opacity: 1; }
    100% { opacity: 1; }
}

/* Animations pour le déplacement des éléments vers la gauche */
@keyframes glisserPoints {
    0%   { transform: translateX(0px); }
    100% { transform: translateX(-45px); }
}

@keyframes glisserTexte {
    0%   { transform: translateX(0px) rotate(-33deg); }
    100% { transform: translateX(-45px) rotate(-33deg); }
}

@keyframes hideFirst {
    0%   { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes showLast {
    0%   { opacity: 0; }
    99%  { opacity: 0; }
    100% { opacity: 1; }
}

/* Animation de réduction de la taille de la ligne si déplacement des dernières stations */
@keyframes glisserLigne4 {
    0%   { width: 191px; }
    100% { width: 146px; }
}

@keyframes glisserLigne3 {
    0%   { width: 146px; }
    100% { width: 101px; }
}

@keyframes glisserLigne2 {
    0%   { width: 101px; }
    100% { width: 56px; }
}

@keyframes glisserLigne1 {
    0%   { width: 56px; }
    100% { width: 11px; }
}


circle {
    animation: glisserPoints 5s linear 5.5s 1 forwards;
}
text {
    font-size: 8.5px;
    line-height: 1.25;
    font-family: achemine;
    animation: glisserTexte 5s linear 5.5s 1 forwards;
}

#text-1 {
    animation: clignoter 5s ease 0.5s 1, hideFirst 5s linear 5.5s 1 forwards;
}
#text-6 {
    opacity: 0;
    animation: showLast 5s linear 5.5s 1 forwards;
}

rect.w-5 {
    width: 191px;
}
rect.w-4 {
    width: 191px;
    animation: glisserLigne4 5s linear 5.5s 1 forwards;
}
rect.w-3 {
    width: 146px;
    animation: glisserLigne3 5s linear 5.5s 1 forwards;
}
rect.w-2 {
    width: 101px;
    animation: glisserLigne2 5s linear 5.5s 1 forwards;
}
rect.w-1 {
    width: 56px;
    animation: glisserLigne1 5s linear 5.5s 1 forwards;
}