<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 120">
    <rect id="trameLigne" height="11" x="30" y="82" ry="5.5"
          [ngStyle]="{'fill': couleur}"
          [ngClass]="getClassLigne()"/>

    <circle class="stationPoint" fill="#ffffff" cx="35.5" cy="87.5" r="4.5"/>
    <text id="text-1" x="-13.785451" y="84.777504" transform="rotate(-33)">
        <tspan x="-13.785451" y="84.777504">{{ stations[0].nom }}</tspan>
    </text>

    <circle *ngIf="stations.length >= 2" class="stationPoint" fill="#ffffff" cx="80.5" cy="87.5" r="4.5"/>
    <text *ngIf="stations.length >= 2" id="text-2" x="23.975016" y="109.25502" transform="rotate(-33)">
        <tspan x="23.975016" y="109.25502">{{ stations[1].nom }}</tspan>
    </text>

    <circle *ngIf="stations.length >= 3" class="stationPoint" fill="#ffffff" cx="125.5" cy="87.5" r="4.5"/>
    <text *ngIf="stations.length >= 3" id="text-3" x="61.735447" y="133.73256" transform="rotate(-33)">
        <tspan x="61.735447" y="133.73256">{{ stations[2].nom }}</tspan>
    </text>

    <circle *ngIf="stations.length >= 4" class="stationPoint" fill="#ffffff" cx="170.5" cy="87.5" r="4.5"/>
    <text *ngIf="stations.length >= 4" id="text-4" x="99.495888" y="158.21008" transform="rotate(-33)">
        <tspan x="99.495888" y="158.21008">{{ stations[3].nom }}</tspan>
    </text>

    <circle *ngIf="stations.length >= 5" class="stationPoint" fill="#ffffff" cx="215.5" cy="87.5" r="4.5"/>
    <text *ngIf="stations.length >= 5" x="137.25633" y="182.68761" transform="rotate(-33)">
        <tspan x="137.25633" y="182.68761">{{ stations[4].nom }}</tspan>
    </text>

    <circle *ngIf="stations.length >= 6" class="stationPoint" fill="#ffffff" cx="260.5" cy="87.5" r="4.5"/>
    <text *ngIf="stations.length >= 6" id="text-6" x="137.25633" y="182.68761" transform="rotate(-33)">
        <tspan x="137.25633" y="182.68761">{{ stations[5].nom }}</tspan>
    </text>
</svg>