.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 160px);
    padding-top: 80px;
}

#panneau {
    border: 10px solid #114592;
    border-radius: 20px;
    height: 80px;
    display: table;
}

#panneau div {
    vertical-align: middle;
    font-family: Achemine;
    font-size: 115px;
    color: black;
    font-weight: bold;
    padding: 20px 40px;
    white-space: pre-line;
}
