#girouette {
    position: absolute;
    left: 5px;
    top: 5px;
    background: #114592;
    height: 60px;
    display: table;
}

#girouette > div {
    display: table-row;
}

#girouette .indice {
    display: table-cell;
    height: 60px;
    width: 60px;
    background-size: cover;
}

#girouette .destination {
    display: table-cell;
    vertical-align: middle;
}

#girouette .destination span {
    font-family: Achemine;
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding: 0 16px;
}
