<div id="girouette">
    <div>
        <div class="indice" style="background-image: url('assets/indices/{{ indice }}.svg');"></div>
        <div class="destination">
            <span>{{ destination }}</span>
        </div>
    </div>
</div>
